<launch>
   <!--
    #1 is_load_mode = false
    launch generates offline library based on parameter file and save it to binary file (lib_{N})
    After finishing the generation, visualization of library whose index is in the watch list will be published

    #2 is_load_mode = true
    launch generates offline library by reading binary file
    After finishing the generation, visualization of library whose index is in the watch list will be published
    -->
<!--    <arg name="library_name" default="target2d_2s"/>-->
    <arg name="library_name" default="chaser_collision_2s"/>
    <arg name="is_load_mode" default="false"/>
    <arg name="lib_folder" default="$(find chasing_utils)/library"/>
<!--    <arg name="lib_folder" value ="$(find auto_chaser4)/library/$(arg library_name)"/>-->


    <node name = "library_manager" pkg = "chasing_utils" type="offline_library_generator" output="screen">
        <rosparam file="$(find chasing_utils)/param/lib/$(arg library_name).yaml" command="load" ns="library" />
        <param name = "library/lib_folder" value="$(arg lib_folder)"/>
        <param name = "library/is_load_mode" value="$(arg is_load_mode)"/>
    </node>

     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find chasing_utils)/rviz/library.rviz" output="log"/>

</launch>
